body{
    background-color: #e5e5e5;
    .container{ 
        margin: 0 auto; 
        height: 100%;
    }
    header{
        position: fixed;

        left: 0;
        top: 0;
        
        width: 100%;

        background-color: #fff;
        box-shadow: 10px 0px 20px rgba(58, 58, 58, 0.15);
        >.container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            >section{
                text-align: right;
                >h1{
                    font-family: Roboto;
                    color: #424242;
                }
                >p{
                    font-family: Roboto;
                    color: #bbb;
                }
            }
        }
    }

    .form-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        form{
            .title{
                font-family: Roboto;
                text-align: center;
                color: #424242;
            }
            .info{
                width: 100%;
                background-color: white;    
                box-shadow: 5px 5px 10px rgba(58, 58, 58, 0.1);
                .input-wrapper{
                    width: 100%;
                    label{
                        font-family: Roboto;
                        color: #828282;
                    }
                    input{
                        display: block;
                        width: 100%;
                        background: #fff;
                        border: 1px solid #bbb;  
                        border-radius: 2px;
                        color: #424242;
                        &:focus{ border-color: #828282 }
                    }
                }
            }
            .cv{
                width: 100%;
                background-color: #fff;
                box-shadow: 5px 5px 10px rgba(58, 58, 58, 0.1);
                .file-wrapper{
                    display: block;

                    position: relative;
                    width: 100%;

                    border: 1px solid #BBBBBB;
                    border-radius: 2px;

                    font-family: Roboto;
                    color: #828282;

                    cursor: pointer;    
                    input{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        z-index: -1;
                    }
                }
                span {
                    font-family: Roboto;
                    color: #828282;
                }
                #file{
                    display: none;
                    justify-content: space-between;
                    align-items: center; 
                    p{
                        flex: 1;
                        font-family: Roboto;
                        color: #424242;
                        span { color: #828282; }
                    }
                    .clip path { fill: #E94C1E;  }
                    .delete  {
                        cursor: pointer;
                        path { fill: #BBBBBB;  }
                        &:hover path{  fill: rgba(187, 187, 187, 0.746); }
                    }
                }
            }
            button{
                background: #E94C1E;
                border-radius: 2px;
                width: 100%;
                color: white;

                font-family: Roboto;
                text-align: center;

                color: #F9F9F9;
                
                border: none;
                cursor: pointer;
                &:hover{ background-color: rgb(255, 86, 35);  }
            }
        }
    }

    .modal-wrapper{

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        display: none;
        justify-content: center;
        align-items: center;

        .modal{
            background: #fff;
            box-shadow: 5px 5px 10px rgba(58, 58, 58, 0.1);
            border-radius: 2px;
            text-align: center;
            .img{
                position: relative;
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
                .icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    border-radius: 50%;
                }
                background-color: #E94C1E;

                svg{
                    position: absolute;
                    &.decoration_1{
                        left: 12.5%;
                        bottom: 15%;
                    }
                    &.decoration_2{
                        top: 12.5%;
                        left: 27.5%;
                    }
                    &.decoration_3{
                        top: 25%;
                        right: 27.5%;
                    }
                    &.decoration_4{
                        bottom: 7.5%;
                        right: 15%;
                    }
                }
            }
            .title{
                font-family: Roboto;
                color: #E94C1E;
            }
            .description{
                font-family: Roboto;
                color: #424242;
            }
            a{
                font-family: Roboto;
                text-align: center;

                color: #E94C1E;
                cursor: pointer;
                &:hover {
                    color: rgb(255, 86, 35);
                }
            }
        }
    }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    body{
        padding-top: 72px; 
        .container{ width: 1138px; }
        header{
            height: 72px;
            >.container{
                >img{
                    width: 143px;
                    height: 40px;
                }
                >section{
                    >h1{
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                    >h2{ font-size: 16px; }
                }
            }
        }

    }
    .form-wrapper {
        padding-top: 25px;
        >form {
            width: 30%;
            .title {
                font-size: 18px;
                margin-bottom: 20px;
            }
            >.info  {
                padding: 25px 50px;
                margin-bottom: 20px;
                >.input-wrapper {
                    margin-bottom: 20px;
                    >label { font-size: 14px; }
                    >input {
                        font-size: 14px;
                        padding: 10px;
                        margin-top: 5px;
                    }
                }
            }
            >.cv {
                padding: 25px 50px;
                >#upload {  
                    >.file-wrapper {
                        font-size: 14px;
                        padding: 10px;
                    }
                    >span{
                        font-size: 12px;
                    }
                }
                >#file {
                    p {
                        font-size: 15px;
                        padding-left: 10px;
                        span {
                            font-size: 10px;
                            margin-left: 5px;
                        }
                    }
                    >.clip {
                        width: 13px;
                        height: 15px;
                    }
                    >.delete {
                        width: 8px;
                        height: 8px;
                    }
                }
            }
            >button{
                padding: 15px 0px;
                font-size: 14px;
            }
        }
    }
    .modal-wrapper >.modal {
        width: 335px;
        padding-bottom: 30px;
        >.img {
            height: 150px;
            margin-bottom: 35px;
            >.icon { 
                width: 74px;
                height: 74px;
            }
        }
        >.title {
            font-size: 24px;
            margin-bottom: 20px;
        }
        >.description {
            font-size: 14px;
            margin-bottom: 35px;
        }
        >a {
            font-size: 14px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    body{
        padding-top: 72px; 
        .container{ width: 970px; }
        header{
            height: 72px;
            >.container{
                >img{
                    width: 143px;
                    height: 40px;
                }
                >section{
                    >h1{
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                    >h2{ font-size: 16px; }
                }
            }
        }

    }
    .form-wrapper {
        padding-top: 25px;
        >form {
            width: 50%;
            .title {
                font-size: 18px;
                margin-bottom: 20px;
            }
            >.info  {
                padding: 25px 50px;
                margin-bottom: 20px;
                >.input-wrapper {
                    margin-bottom: 20px;
                    >label { font-size: 14px; }
                    >input {
                        font-size: 14px;
                        padding: 10px;
                        margin-top: 5px;
                    }
                }
            }
            >.cv {
                padding: 25px 50px;
                >#upload {  
                    >.file-wrapper {
                        font-size: 14px;
                        padding: 10px;
                    }
                    >span{
                        font-size: 12px;
                    }
                }
                >#file {
                    p {
                        font-size: 15px;
                        padding-left: 10px;
                        span {
                            font-size: 10px;
                            margin-left: 5px;
                        }
                    }
                    >.clip {
                        width: 13px;
                        height: 15px;
                    }
                    >.delete {
                        width: 8px;
                        height: 8px;
                    }
                }
            }
            >button{
                padding: 15px 0px;
                font-size: 14px;
            }
        }
    }
    .modal-wrapper >.modal {
        width: 335px;
        padding-bottom: 30px;
        >.img {
            height: 150px;
            margin-bottom: 35px;
            >.icon { 
                width: 74px;
                height: 74px;
            }
        }
        >.title {
            font-size: 24px;
            margin-bottom: 20px;
        }
        >.description {
            font-size: 14px;
            margin-bottom: 35px;
        }
        >a {
            font-size: 14px;
        }
    }
}

 // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) and (max-width: 991.98px) { 
    body{
        padding-top: 72px; 
        .container{ width: 750px; }
        header{
            height: 72px;
            >.container{
                >img{
                    width: 143px;
                    height: 40px;
                }
                >section{
                    >h1{
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                    >h2{ font-size: 16px; }
                }
            }
        }

    }
    .form-wrapper {
        padding-top: 25px;
        >form {
            width: 60%;
            .title {
                font-size: 18px;
                margin-bottom: 20px;
            }
            >.info  {
                padding: 25px 50px;
                margin-bottom: 20px;
                >.input-wrapper {
                    margin-bottom: 20px;
                    >label { font-size: 14px; }
                    >input {
                        font-size: 14px;
                        padding: 10px;
                        margin-top: 5px;
                    }
                }
            }
            >.cv {
                padding: 25px 50px;
                >#upload {  
                    >.file-wrapper {
                        font-size: 14px;
                        padding: 10px;
                    }
                    >span{
                        font-size: 12px;
                    }
                }
                >#file {
                    p {
                        font-size: 15px;
                        padding-left: 10px;
                        span {
                            font-size: 10px;
                            margin-left: 5px;
                        }
                    }
                    >.clip {
                        width: 13px;
                        height: 15px;
                    }
                    >.delete {
                        width: 8px;
                        height: 8px;
                    }
                }
            }
            >button{
                padding: 15px 0px;
                font-size: 14px;
            }
        }
    }
    .modal-wrapper >.modal {
        width: 335px;
        padding-bottom: 30px;
        >.img {
            height: 150px;
            margin-bottom: 35px;
            >.icon { 
                width: 74px;
                height: 74px;
            }
        }
        >.title {
            font-size: 24px;
            margin-bottom: 20px;
        }
        >.description {
            font-size: 14px;
            margin-bottom: 35px;
        }
        >a {
            font-size: 14px;
        }
    }
}
 
 // Small devices (landscape phones, 576px and up)
 @media (min-width: 576px) and (max-width: 767.98px) { 
    body{
        padding-top: 72px; 
        .container{ 
            width: 100%; 
            padding: 0 15px;
        }
        header{
            height: 72px;
            >.container{
                >img{
                    width: 143px;
                    height: 40px;
                }
                >section{
                    >h1{
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                    >h2{ font-size: 16px; }
                }
            }
        }

    }
    .form-wrapper {
        padding-top: 25px;
        >form {
            width: 80%;
            .title {
                font-size: 18px;
                margin-bottom: 20px;
            }
            >.info  {
                padding: 25px 50px;
                margin-bottom: 20px;
                >.input-wrapper {
                    margin-bottom: 20px;
                    >label { font-size: 14px; }
                    >input {
                        font-size: 14px;
                        padding: 10px;
                        margin-top: 5px;
                    }
                }
            }
            >.cv {
                padding: 25px 50px;
                >#upload {  
                    >.file-wrapper {
                        font-size: 14px;
                        padding: 10px;
                    }
                    >span{
                        font-size: 12px;
                    }
                }
                >#file {
                    p {
                        font-size: 15px;
                        padding-left: 10px;
                        span {
                            font-size: 10px;
                            margin-left: 5px;
                        }
                    }
                    >.clip {
                        width: 13px;
                        height: 15px;
                    }
                    >.delete {
                        width: 8px;
                        height: 8px;
                    }
                }
            }
            >button{
                padding: 15px 0px;
                font-size: 14px;
            }
        }
    }
    .modal-wrapper >.modal {
        width: 335px;
        padding-bottom: 30px;
        >.img {
            height: 150px;
            margin-bottom: 35px;
            >.icon { 
                width: 74px;
                height: 74px;
            }
        }
        >.title {
            font-size: 24px;
            margin-bottom: 20px;
        }
        >.description {
            font-size: 14px;
            margin-bottom: 35px;
        }
        >a {
            font-size: 14px;
        }
    }
}
 


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    body{
        padding-top: 72px; 
        .container{ 
            width: 100%; 
            padding: 0 15px;
        }
        header{
            height: 72px;
            >.container{
                >img{
                    width: 143px;
                    height: 40px;
                }
                >section{
                    >h1{
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                    >h2{ font-size: 16px; }
                }
            }
        }

    }
    .form-wrapper {
        padding-top: 25px;
        >form {
            width: 95%;
            .title {
                font-size: 18px;
                margin-bottom: 20px;
            }
            >.info  {
                padding: 25px 15px;
                margin-bottom: 20px;
                >.input-wrapper {
                    margin-bottom: 20px;
                    >label { font-size: 14px; }
                    >input {
                        font-size: 14px;
                        padding: 10px;
                        margin-top: 5px;
                    }
                }
            }
            >.cv {
                padding: 25px 15px;
                >#upload {  
                    >.file-wrapper {
                        font-size: 14px;
                        padding: 10px;
                    }
                    >span{
                        font-size: 12px;
                    }
                }
                >#file {
                    p {
                        font-size: 15px;
                        padding-left: 10px;
                        span {
                            font-size: 10px;
                            margin-left: 5px;
                        }
                    }
                    >.clip {
                        width: 13px;
                        height: 15px;
                    }
                    >.delete {
                        width: 8px;
                        height: 8px;
                    }
                }
            }
            >button{
                padding: 15px 0px;
                font-size: 14px;
            }
        }
    }
    .modal-wrapper >.modal {
        width: 95%;
        padding-bottom: 30px;
        >.img {
            height: 150px;
            margin-bottom: 35px;
            >.icon { 
                width: 74px;
                height: 74px;
            }
        }
        >.title {
            padding: 0 15px;
            font-size: 24px;
            margin-bottom: 20px;
        }
        >.description {
            padding: 0 15px;
            font-size: 14px;
            margin-bottom: 35px;
        }
        >a {
            font-size: 14px;
        }
    }
}
